body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

h1, h2 {
    color: #1d724b;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

p {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}
